.cursor {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #2b2a2a;
    background-color: transparent;
    /* background-color: #2b2a2a; */
    /* backdrop-filter: blur(1px); */
    position: fixed;
    z-index: 99999;
}

@media (max-width: 767px) {
.cursor {
    display: none;
}
}

@media (min-width: 768px) and (max-width: 1023px) { 
.cursor {
    width: 25px;
    height: 25px;
}
}

@media (min-width: 1024px) {
.cursor {
    width: 30px;
    height: 30px;
}
}